#wall {
    height: calc(100vh - 1em);
}

.wallTable {
    display: table;
}

.wallRow, .wallCell{
    margin: 0;
    padding: 0;
    line-height: 0;
    white-space: nowrap;
}

.wallCell {
    display: inline-block;
    border-style: solid;
    box-sizing: content-box;
    width: var(--cell-width);
    min-width: var(--cell-width);
    height: var(--cell-height);
    min-height: var(--cell-height);
    border-color: var(--wall-background-color);
}

#wall.labels .wallCell::before {
    content : var(--color-id);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-shadow: 1px 1px 0px white; /*todo: actual proper text contrast*/
}